@import '../../../styles/settings.scss';

.root {
  padding: 20px 10% 1% 10%;

  p {
    font-size: 14px;
    color: $primary;
  }

  .bar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

    .postAdd {
      text-align: center;
      width: 50%;
    }
  }

  .posts {
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid $secondary;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
  }
}
